<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="wigth=device-width,initial-scale=1 ,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <div id="navbar">
    <a href="/dashboard">Dashboard</a>
    <a href="/blog">Add</a>
    <a href="/profile">Profile</a>
    <a href="/logout" style="float: right;">Logout</a>
    </div>
    <script src="/javascripts/nav.js">
    </script>

</html>