<link rel="Stylesheet" href="/stylesheets/goToTop.css">
<div class="upBtn">
    <a class="upBtn" id="upBtn" onclick="goToTop()">
        <img src="/images/upBtn.png" width="40px" height="40px">
    </a>
</div>
<script src="/javascripts/goToTop.js"></script>