<!DOCTYPE html>
<html>
    <head>
        <title>
            Navbar
        </title>
        <link rel="Stylesheet" href="/stylesheets/nav.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="header-left">
                <p><i class="fa fa-chevron-right" aria-hidden="true"></i><a href="/dashboard">BLOGATE</a><i class="fa fa-window-minimize" aria-hidden="true"></i>
                </p>
            </div>
            <div class="header-right">
                <a href="/dashboard">Dashboard</a>
                <a href="/profile">Profile</a>
                <a href="/blog">New Blog</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        
    </body>
</html>