<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/stylesheets/addBlog.css' />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog</title>
    </head>
    <% include partials/nav.ejs %>
    <body>
        
        <form action="/blog/blog" method="POST" class="form">
            <h1>Add Blog</h1>
            <input type="text" name="title" id="" placeholder=" Title" enctype="multipart/form-data">
            <textarea name="header" id="" cols="50" rows="5" class="textarea" placeholder=" Header (pair of lines to describe your blog)"></textarea>
            <textarea name="body" id="" cols="50" rows="10" class="textarea" placeholder=" Body"></textarea>
            <input type="submit" value="Submit" id="button">
        </form>
        <form action="/dashboard">
            <input type="submit" value="Back" id="button">
        </form>
    </body>
</html>