<!DOCTYPE html>
<html>
    <head>
        <style>
            
            body{
                background:#ffcc99;
                font-family: ubuntu;
            }
            #heading{
                text-align: center;
            }
            ul{
            list-style-type: none;
            padding: 0;
            }
            li{
                padding: 20px;
                font-size: 20px;
                height: auto;
            }
            li span{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            #title{
                width: auto;
                border-bottom: 5px solid #000000;
                margin: 0px;
                padding: 5px;
                display: block;
                box-sizing: border-box;
                font-size: 18px;
                border-radius: 0px;
                font-size: xx-large;
                float: left;
            }
            #header{
                width: auto;
                float: left;
                margin-left: 2px;
                padding: 10px;
                display: block;
                font-size: 18px;
                font-size:x-large;
            }
            #author{
                width: auto;
                float: right;
                margin: 2px;
                padding: 10px;
                display: block;
                font-size: 18px;
                font-size: medium;
                color: #555;
            }
            #body{
                width: 80%;
                border-bottom: 5px solid #000000;
                margin: 2px;
                padding: 10px;
                display: block;
                box-sizing: border-box;
                font-size: 18px;
                border-radius: 0px;
                margin-left: auto;
                margin-right: auto;
                font-size: x-large;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="wigth=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
        <link href="../css/style.css" rel="stylesheet" />
    </head>
    
    <body>
        <form name="form1" action="/blog">
            <input type="submit" value="Add Blog">
        </form>
        <% include partials/nav.ejs %>
        <h1 id="heading">Dashboard</h1>
        
        <div id="body">
            <ul>
            <% files.forEach(function(file){%>
                <div>
                <li>
                <span id="title"><%=file.title%></span>
                <br>
                <span id="header"><%=file.header%></span>
                <span id="author"><%=file.author%></span>
                <br>
                <br>
                <span id="body"><%=file.body%></span>
                <br>
                
                </li>
                </div>
            <%})%>
        </ul>
        </div>
        
    </body>
    
</html>