<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/stylesheets/addBlog.css' />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Blog</title>
    </head>
    <body>
        <% include partials/authNav.ejs %>
        <% files.forEach(function(file){%>
        <form action="/profile/blog/<%=file._id%>/edit" method="POST" class="form">
            <h1>Edit Blog</h1>
            <input type="text" name="title" id="" placeholder="<%=file.title%>">
            <textarea name="header" id="" cols="50" rows="5" class="textarea" placeholder=" Header"><%=file.header%></textarea>
            <textarea name="body" id="" cols="50" rows="10" class="textarea" placeholder=" Body"><%=file.body%></textarea>
            <input type="submit" value="Update" id="button">
        </form>
        <form action="/profile">
            <input type="submit" value="Back" id="button">
        </form>
        <%})%>
    </body>
</html>