<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/stylesheets/profile.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <% include partials/nav.ejs %>
    </head>
    
    <body>
        
    
        <% include partials/goToTop.ejs %>
    </body>
</html>