.profile-top-wrapper{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/images/cap.jpg");
    background-size: cover;
    color: white;
    padding: 10% 0% 10% 0%;
}
  .profile-top-wrapper-container{
      padding:0% 5%;
  }
  .user-details{
      float: left;
      width: 40%;

  }
  .user-details h1{
    font-size:45px;
    letter-spacing:5px;
    margin-bottom:1%;
  }
  .user-details h2{
    font-size:30px;
    letter-spacing:3px;
  }
  .user-details h3{
    font-size:15px;
    letter-spacing:1px;
    margin-bottom:1%;
  }
  .user-stats{
      float: right;
      width: 50%;
      text-align: center;
  }
  .stats{
      float: left;
      margin: 5%;
      margin-top:0px;
      width: 15%;
  }
  .stats img{
      width: 100%;
      position: relative;
  }
  .stats-blogs{
    background-image: url("/images/stats1.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .stats-likes{
      background-image: url("/images/stats2.png");
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      
  }
  .stats-followers{
    background-image: url("/images/stats3.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .stats-blogs p{
    position: absolute;
    margin-left: 2%;
    margin-top:2%;
  }
  .stats-likes p{
      position: absolute;
      margin-left: 2%;
      margin-top:2%;
  }
  .stats-followers p{
    position: absolute;
    margin-left: 1%;
    margin-top:2%;
  }
  @media screen and (max-width: 680px) {
    .profile-top-wrapper{
      padding-bottom: 40%;
    }
    .profile-top-wrapper-container{
      padding-top: 5%;
  }


  }
        